.banner{
    height: 100vh;
    max-width: 70%;
    margin-top: -.5rem;
}
.image-container{
    margin: 0;
}
.image-container-img{
    height: 100vh;
    /* aspect-ratio: 16 / 9; */
    object-fit: cover;
    object-position: center;
    object-fit: contain;
}
@media only screen and (max-width: 800px) {
    .banner{
        height: 60vh;
        /* width: 100vw; */
    }
    .image-container-img{
        height: 50vh;
        /* aspect-ratio: 16 / 9; */
        object-fit: cover;
        object-position: center;
        object-fit: contain;
    }
}
