:root {
  font-family: 'Helvetica Neue', sans-serif;  
  color: #333333;
  color: #000000;
  background-color: #FFFFFF;
  overflow: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

