.footer{
    display: flex;
    margin: 0;
    height: 100vh;
}
.footer-container{
    padding-left: 6rem;
    margin-top: -1.2rem;
    font-size: 1.4rem;
}
.footer-container-a a{
    text-decoration: none;
    color: #000000;
}
.footer-container-ciudad{
    /* display: flex; */
    /* width: 55%; */
    /* justify-content: space-between; */
}

@media only screen and (max-width: 800px) {
    .footer{
        /* display: block; */
        flex-direction: column-reverse;
        justify-content: space-between;
        /* height: 60vh; */
    }
    .footer-container{
        padding-left: 0rem;
        margin-top: 0rem;
        font-size: 1.4rem;
    }
    
}