.imagen-container {
    display: grid;
    grid-template-columns: 20% 80% ;
    /* height: 100vh; */
    /* height: 100vh; */
    /* Align items at the top */
}
.imagen-container-derecha{
    display: grid;
    height: 100vh;
    grid-template-columns: 40% 60%;
    /* padding-top: .6rem; */
}
.imagen-container-list {
    /* height: 100%; */
    /* padding-top: 1rem; */
    /* width: 70%; */
    /* max-height: 400px; */
    /* overflow-y: auto; */
    /* Enable vertical scrolling if needed */
}

.imagen-container-list-item {
    padding-top: .2rem;
    cursor: pointer;
    font-size: 1.5rem;
    /* color: #333333; */
}
.imagen-container-list-item-link  {
    text-decoration: none;
    color: #333333;
}
.custom-img{
    width: 100%;
    object-fit: contain;
    object-fit: cover;
}
.custom-image{
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

img {
    /*     */
}
@media (max-width: 800px) {
    .imagen-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: 60vh;
    }
    .imagen-container-list {
    padding-left: 0rem;
}
}
@media (max-width: 600px) {
    .custom-image {
        display: none;
    }
    img{
        /* max-width: 100%; */
    }
}