.imagen-container {
    display: grid;
    grid-template-columns: 20% 80% ;
    height: 100vh;
}

.imagen-container-derecha{
    display: grid;
    height: 100vh;
    grid-template-columns: 40% 60%;
    
}
.imagen-container-list {
    /* height: 100%; */
    /* padding-top: 1rem; */
    /* width: 70%; */
    /* max-height: 400px; */
    /* overflow-y: auto; */
    /* Enable vertical scrolling if needed */
}

.imagen-container-list-item {
    padding-top: .2rem;
    cursor: pointer;
    font-size: 1.5rem;
    /* color: #333333; */
}
.imagen-container-list-item-link  {
    text-decoration: none;
    color: #333333;
}
.custom-img{
    width: 100%;
    object-fit: contain;
    object-fit: cover;
}
.custom-image{
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

img {
    /*     */
}
@media (max-width: 1050px) {
    .imagen-container {
        display: grid;
        grid-template-columns: 26% 74%;
        height: 100vh;
        /* justify-content: space-around; */
    }

}

@media (max-width: 800px) {
    .imagen-container {
        display: flex;
        flex-direction: column-reverse;
        /* padding-top: 4rem; */
        /* justify-content: flex-end; */
        width: 100%;
    }
    .imagen-container-derecha{
        grid-template-columns: 100% 0%;
    /* padding-top: .6rem; */
    }
    .imagen-container-header{
        /* padding-bottom: 1rem; */
    }
    .imagen-container-list {
        padding-left: 0rem;
    }

    .custom-img {
    height: 0%;
    display: flex;
    /* justify-content: end; */
}
}
@media (max-width: 600px) {
    .imagen-container {
        height: 103vh;
        /* justify-content: space-around; */
    }
    
}